html {
  font-family: helvetica, sans-serif;
  text-align: center;
}

#title-menu {
  background-image: url("../images/the-flatiron-building.png");

}


#title-menu a {
  font-size: 18px;
  color: white;
}

#title-menu li {
  list-style-type: none;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

h2 {
  font-size: 32px;
}

h1 {
  color: white;
  font-size: 70px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

#lower-title {
  background-image: url("../images/the-flatiron-building.png");
  color:white;
}

#footer {
  background-color: dimgray;
  color: white;
  font-size: 11px;
  text-align: left;
}

#footer a {
  color: white;
}
